.Negative{
	background-color:#3A3A3A;
	color:white;
}
.ImagePlaceHolder{
	height:720px;
	width:100%;
		box-shadow: 0 0 1em black inset;
}
.noMargin{
	margin:0;
}
footer{
	font-size:1.2em;
	padding:1em;
	text-align:center;
}
.shadowDrop{
	box-shadow: 0 0 1em black;
}
.graphicsStuff{
	color:white;
	text-shadow: 0 0 1em black;
}
.graphicsStuff a{
	color:inherit;
}